<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Advent of JS - Day1</title>
  </head>
  <body>
    <section class="main">
      <div
        [ngClass]="min === 0 && sec === 0 ? 'ring ringRed' : 'ring ringGreen'"
      >
        <form (ngSubmit)="onSubmit()" #f="ngForm">
          <div class="controls">
            <input
              type="number"
              name="min"
              id="timeMin"
              [ngModel]="min"
            /><label for="timeMin">:</label
            ><input
              type="number"
              name="sec"
              id="timeMin"
              value="sec"
              [ngModel]="sec < 10 && sec > 0 ? '0' + sec : sec"
            />
            <br />
            <button type="submit">{{ timerMode ? "PAUSE" : "START" }}</button>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
