body {
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0px;
  left: 0px;

  width: 100vw;
  height: 100vh;

  background-color: rgb(42, 42, 42);
}
.ring {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 25px rgb(77, 76, 76);
  background-image: radial-gradient(rgb(67, 67, 67), rgb(9, 9, 9));
}
.ringGreen {
  border: 3px solid green;
}
.ringRed {
  border: 3px solid red;
}
.controls {
  text-align: center;
}
input,
button {
  max-width: 11%;
  border: none;
  padding: 5px;
  background-color: transparent;
  color: white;
  text-align: center;
}
label {
  font-size: 60px;
  color: white;
  margin-bottom: 20px;
}
input {
  font-size: 60px;
  margin-bottom: 20px;
  border-bottom: 1px dotted grey;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}
button {
  font-size: 15px;
}

input:focus {
  outline: none;
}
